.mt-popular-titles__container{
  white-space: nowrap;
  margin-left: -10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .mt-poster-container {
    cursor: pointer;
  }

  .mt-popular-title__title {
    position: absolute;
    top: -25px;
    white-space: nowrap;
  }
}

.mt-popular-titles__container::-webkit-scrollbar {
  display: none;
}