.mt-popular-titles__container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin-left: -10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .mt-poster-container {
    cursor: pointer;
  }

  .mt-popular-title__title {
    position: absolute;
    top: -25px;
    white-space: nowrap;
  }
}

.mt-popular-titles__container::-webkit-scrollbar {
  display: none;
}