.icon {
  width: 50px;
  height: 50px;
}

.icon--tomato {
  background: url(img`/rt_lg.png) 0 0;
}

.icon--rotten-tomato {
  background: url(img`/rt_lg.png) 0 -50px;
}

.icon--certified-fresh {
  background: url(img`/rt_lg.png) 0 -100px;
}

.icon--popcorn {
  background: url(img`/rt_lg.png) 0 -150px;
}

.icon--tipped-popcorn {
  background: url(img`/rt_lg.png) 0 -250px;
}

.icon__clickable--white{
  cursor: pointer;
  color: $transparent-white;
}

.icon__clickable--white:hover{
  color: white;
}
