.icon {
  width: 50px;
  height: 50px;
}

.icon-responsive {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-size: 100%;
  display: block;
}

.icon--tomato {
  background-image: url("img/rt_lg.png");
  background-position: 0 1%;
}

.icon--rotten-tomato {
  background-image: url("img/rt_lg.png");
  background-position: 0 20%;
}

.icon--certified-fresh {
  background-image: url("img/rt_lg.png");
  background-position: 0 -80%;
}

.icon--popcorn {
  background-image: url("img/rt_lg.png");
  background-position: 0 60%;
}

.icon--tipped-popcorn {
  background-image: url("img/rt_lg.png");
  background-position: 0 99%;
}

.icon__clickable--white{
  cursor: pointer;
  color: $transparent-white;
}

.icon__clickable--white:hover{
  color: white;
}

.fa {
  @include text_shadow(2);
  transform: rotate(0deg);
  transition: transform .3s ease ;
}


.rotate-45-deg {
  transform: rotate(-90deg);
  transition: transform .3s ease ;
}
