.input__main--large {
  padding-left: 15px;
  font-family: $font__family--sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
  border: 2px solid white;
  height: 1.2em;;//60px;
  font-size: 2em;
  width: 100%;
}

@media (min-width: $iphone-6-plus-width) {
  .input__main--large {
    height: 2.1em;
  }
}