.mt-header{
  padding: 10px 20px;
  mt-logo {
    margin-right: 20px;
  }
  .absolute-center {
   .input__main--large {
     width: 350px;
   }
  }
}
.header--flex {
  mt-search-bar {
    flex-grow: .5;
    max-width: 660px;
  }
}