.mt-header{
  padding: 10px 20px;
  position: relative;
  mt-logo {
    margin-right: 10px;
  }
  .initial-search-bar {
   .input__main--large {
     width: 350px;
   }
  }
}
.header--flex {
  mt-search-bar {
    flex-grow: .5;
    max-width: 660px;
  }
}

.mt-header-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 1.8em;
  .fa-search:after {
    content: ' ';
    position: absolute;
    padding: 25px;
    left: -10px;
    top: -10px;
  }
}
