<section ng-class="{'search-overlay': theater.showOverlay}"></section>
<section class="mt-header"
         ng-class="{'header--flex' : theater.searchOnTop || theater.showMobileSearch}">
    <mt-logo hide-gt-xs is-minimal-version="theater.showMobileSearch"></mt-logo>
    <mt-logo hide-xs></mt-logo>

    <!--SEARCH ICON-->
    <span class="mt-header-search-icon" hide-gt-xs ng-if="!theater.showMobileSearch" ng-click="mtHeader.setFocusOnSearch()"><i class="fa fa-search"></i></span>
    <mt-search-bar></mt-search-bar>


    <!--TODO: Use for bottom sheet-->
    <!--<md-sidenav md-component-id="left" class="md-sidenav-left">-->
        <!--Left Nav!-->
    <!--</md-sidenav>-->
    <!--<md-content>-->
        <!--Center Content-->
        <!--<md-button ng-click="openLeftMenu()">-->
            <!--Open Left Menu-->
        <!--</md-button>-->
    <!--</md-content>-->
    <!--<md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">-->
        <!--<form>-->
            <!--<md-input-container>-->
                <!--<label for="testInput">Test input</label>-->
                <!--<input id="testInput" type="text" ng-model="data" md-autofocus>-->
            <!--</md-input-container>-->
        <!--</form>-->
    <!--</md-sidenav>-->

</section>