$logo__accent-red: #bf0f06;
$transparent-gray: rgba(97, 97, 97, 0.8);
$transparent-gray--dark: rgba(55, 55, 55, 0.8);
$transparent-white: rgba(255, 255, 255, 0.71);
$transparent-white--background: rgba(255, 255, 255, 0.25);
$movie-screen-black: #232323;