.title-playing-info--top {
  display: flex;
  position: relative;
  z-index: 1;
}
.title-playing-info--bottom {
  z-index: 1;
  position: relative;
}
.title-playing-info__top-right-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  width: 60vw;
}
.title-playing-info--backdrop-container {
  position: relative;
  overflow: hidden;
  .title-playing-info--backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}
.title-playing-info--backdro:after {
  content: '';
  background-image: url(http://image.tmdb.org/t/p/w185/vsjBeMPZtyB7yNsYY56XYxifaQZ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  z-index: 0;
}