.title-playing-info {
  position: relative;
  overflow: hidden;
  background-color: darken(rgba(0, 0, 0, 0.5), 5%);
  .title-playing-info--backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
  }
}

@media (min-width: $iphone-6-width) {
  .title-playing-info{
    font-size: 18px;
  }
}

.title-playing-info--top {
  display: flex;
  position: relative;
  z-index: 1;
}
.title-playing-info--bottom {
  z-index: 1;
  position: relative;
  max-width: 750px;
}

@media (min-width: $iphone-6-width) {
  .title-playing-info--bottom {
    margin-top: 1.5em;
  }
}
.title-playing-info__top-right-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  min-width: 50vw;
  max-width: 52vw;
  .flex-end-to-end {
    width: 125%;
  }
}
@media (min-width: $iphone-6-width) {
  .title-playing-info__top-right-details{
    min-width: inherit;
    max-width: inherit;
    justify-content: initial;
  }
}
