<section class="inner-padding--small--left">
    <h2>Upcoming Movies</h2>
    <section class="mt-popular-titles__container">
        <!--TODO: add arrows to swipe titles on desktop-->
        <mt-poster ng-repeat="upcomingMovie in mtPopularTitles.upcomingMovies"
                   ng-if="upcomingMovie.hasTrailer"
                   ng-click="mtPopularTitles.playQueue(upcomingMovie.trailers)"
                   has-trailer="upcomingMovie.hasTrailer"
                   p-src="{{'http://image.tmdb.org/t/p/w185/' + upcomingMovie.poster_path}}"
                   class="mt-poster-container"
                   elevation="4"
                   p-width="102px"
                   p-height="153px">
        </mt-poster>
    </section>
</section>